@using VacationPortal.Web.Areas.Client.Models.EmployeeVMs
@model VacationAppDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>VacationApplication</h4>
    <hr />
    <div class="row">
        <div class="col">
            <dl class="row">
                <dt class = "col-sm-5">
                    @Html.DisplayNameFor(model => model.VacationApplication.Employee.FirstName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.VacationApplication.Employee.FirstName)
                </dd>
                <dt class = "col-sm-5">
                    @Html.DisplayNameFor(model => model.VacationApplication.Employee.LastName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.VacationApplication.Employee.LastName)
                </dd>
                <dt class = "col-sm-5">
                    @Html.DisplayNameFor(model => model.VacationApplication.StartDatetime)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.VacationApplication.StartDatetime)
                </dd>
                <dt class = "col-sm-5">
                    @Html.DisplayNameFor(model => model.VacationApplication.DaysOfVacation)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.VacationApplication.DaysOfVacation)
                </dd>
                <dt class = "col-sm-5">
                    @Html.DisplayNameFor(model => model.VacationApplication.Status)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.VacationApplication.Status)
                </dd>
            </dl>
        </div>
         <div class="col">
            @if(Model.VacationInfo != null)
            {
                <h3>Vacation for this position</h3>
                <dl class="row">
                    <dt class = "col-sm-5">
                        @Html.DisplayNameFor(model => model.VacationInfo.Position)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.VacationInfo.Position.Name)
                    </dd>
                    <dt class = "col-sm-5">
                        @Html.DisplayNameFor(model => model.VacationInfo.Days)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.VacationInfo.Days)
                    </dd>
                    <dt class = "col-sm-5">
                        @Html.DisplayNameFor(model => model.VacationInfo.Description)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.VacationInfo.Description)
                    </dd>
            
                </dl>
            }
            else
            {
               <h3>There is no vacation for this position.</h3> 
            }
        </div>        
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
